p{
    
    background-color: rgba(0,0,0,.5);
    color: #22f52d;
    margin:auto;
    width: fit-content;
    border: 3px solid rgb(6, 174, 6);
    padding: 1px;
  }
  title{
    
    background-color: rgba(0,0,0,.5);
    color: #22f52d;
    margin:auto;
    width: fit-content;
    border: 3px solid rgb(6, 174, 6);
    padding: 3px;

  }
  table, th, td {
    border: 1px solid black;
  }
  body {
    background-color: lightblue;
  }
  