body{
    background-image:url(./pictures/Rectangle5.png);
    
}
h3{
    background-color: rgba(0,0,0,.5);
    color: #22f52d;
    margin:auto;
    width: fit-content;
    border: 3px solid green;
    padding: 1px;
  }
  p{
    background-color: rgba(0,0,0,.5);
    color: #22f52d;
    margin:auto;
    width: fit-content;
    border: 3px solid rgb(6, 174, 6);
    padding: 1px;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
  }
  h1{
    
    background-color: rgba(0,0,0,.5);
    color: #22f52d;
    margin:auto;
    width: fit-content;
    border: 3px solid rgb(6, 174, 6);
    padding: 3px;
  }
